<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/unnamed.png" >
    <title> Mercado Liebre</title>
</head>
<body class="con-marg sin-marg">
  <header class="cabecera">

    <div class="logo">
    <img src="/img/logo-mercado-liebre.svg" alt="" width="100%">
    <input  type="text" name="search" placeholder="Buscar productos, marcas" class="logo-input">
    <a href="#" class="logo-input-i" ><i class="fas fa-search lupa"></i></a>
    
    <p class="frase"><i class="fas fa-hand-holding-usd f-cx"></i>Comprá en cuotas y sin tarjeta de crédito </p>
    </div>
       
    <section>
        <nav >
            <div class="main-nav">
              <ul class="main-nav-ul">
                <li class="start"><a href="/" class="f-c">Ofertas</a></li>
                <li class="start"><a href="#" class="f-c">Tiendas Oficiales</a></li>
                <li class="start"><a href="#" class="f-c">Vender</a></li>
                <li class="start margin"><a href="#" class="f-c">Ayuda</a></li>
                <li class="end "><a href="/register" class="crea-tu-cuenta f-cx">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li class="end "><a href="/login"class="f-cx">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
               <li class="end "><a href="#" class="f-cx">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
             </ul>
            </div>
           
        </nav>
        <button class="burger-menu"><i class="fas fa-bars"></i></button>
        
        
       </section>
</header>  
<img src="/img/img-home-banner.jpg"class="img "> 
   
    <h1 class="tipografia-24 txt-center">INGRESA</h1>
    <form action="", method="get" class="register-form">
        <input type="text" name="user" id="user" placeholder="Usuario" required class="register-form-input">
        <input type="password" name="password" id="password" placeholder="Contraseña" required class="register-form-input">
        <a href="/" class="boton-login">ingresa</a>
    </form>
   
    
<footer class="bloque-footer">
    <section class="footer">
        <div class="icon-final"><i class="fas fa-credit-card icono-footer"></i></div>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin <br>
            interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </section> 
    <section class="footer">
      <div class="icon-final"><i class="fas fa-gift icono-footer"></i></div>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre <br>
            tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section class="footer">
      <div class="icon-final"><i class="fas fa-user-shield icono-footer"></i></div>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br>
             no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
    <div class="copy">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   </footer>
   
</body>
</html>
   </body>
