* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con-marg {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ebebeb;
    position: relative;
    padding-bottom: 500px;
    min-height: 100vh;
}

.cabecera {
    background-color: #EAC926;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
   
}
.logo img{
    width: 45%;
    margin-right: 10px;
}
.logo-input{
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 3px;
}
.logo-input-i {
   width: 8%;
   background-color: white;
   height: 40px;
   border-radius: 3px;
   position: relative;
   right: 19px;
}
.lupa{
   color: #666;
   position: absolute;
   top: 13px;
   left: 7px;
   
}
.frase{
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
}
#mano{
    display: flex;
    color: black;
}
.main-nav{
    padding: 20px 0px 20px;
    display: none;  
   

}
.main-nav-ul{
    font-size: 13px;
     display: flex;
    flex-wrap: wrap;
}
.start{
    list-style: none; 
    padding: 10px;
}
.margin{
    flex-grow: 0.90;
}

.end{
    list-style: none; 
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.burger-menu{
    margin-left: 45%;
    margin-bottom: 5px;
    height: 35px;
    width: 45px;
    border: none;
    background-color: #1259c3;
    color: white;
    border-radius: 10px;
    font-size: 16px
}
.img{
    width: 100%;
    height: 80px;
}
.register-form{
    background-color: rgb(219, 216, 216);
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    position: relative;
}

.register-form label{
   display: flex;
   padding: 5px;
   
}
.register-form-input{
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 40px;
  height: 25px;
   
}
.compra-venta{
    display: flex;
    
}

.title{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.categories-input{
    position: relative;
    bottom: 22px;
    left: 80px;
}

.boton-registro{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color:#1259c3;   
    color: white;
}
.boton-login{
    text-align: center;
    width: 94%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-size: 1rem;
    padding: 10px 110px;
    border: none;
    border-radius: 5px;
    background-color:#1259c3;   
    color: white;
    position: absolute;
    left: -3px;
    bottom: 5px;

}

main{
    margin: 0 auto;
    width: 90vw;    
}
.imagen-producto{
    width: 100%;
   
}

.articulos{
    margin-top: 10px;
    border-top:solid 1px #ebebeb ;
    display: flex;
    flex-wrap: wrap;
    border-top:solid 1px #ebebeb;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.problemitas{
    position: relative; 
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.icono-envio{
    
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    
}

.imagen-producto{
    width: 100%;
    padding-bottom: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.precio{
    font-size: 18px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 10px;
}
.descuento{
    font-size: 16px;
    color: green;
    padding-top: 16px;
}
.descripcion{
    font-size: 16px;
    color: #666; 
    width: 100%;
    padding: 5px 0px 15px 15px;
    
}
.tipografia-24{
   padding: 10px 0px 10px 0px;
    color: #666;
    
}

.bloque-footer{
    padding: 15px;
    background-color: white;
    margin-top: 25px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    
}
.footer{
    text-align: center;
    padding: 20px;
    color: #666;
    
}
.icon-final{
    font-size: 2em;
    color:  #1259c3;
    margin-bottom: 10px;
}
.copy{
    color: #666;
}


@media  ( min-width: 488px) {
    /*tablet*/
    .sin-marg{
        padding-bottom: 250px;
    }
    .cabecera{
        padding-top: 0px;
    }
    .logo{
        align-items:center
    }
    .logo img{
        width: 30%;
    }
    .logo-input{
        width: 28%; 
        
    }
    .logo-input-i{
        width: 5%;
    }
    
    .frase{
        width: 32%;
        font-size: 11px;
        margin-bottom: 20px;
    }
   .main-nav{
     display: contents;
     
   }
   .burger-menu{
    display: none;
   }
   
   .register-form{
    width: 55%;
   }
   .section-articulos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .tipografia-24{
    width: 100%;
    font-size: 18px;
    padding: 10px;
   }
   .articulos{
    width: 45%; 
    
   }
   .boton-login{
    padding: 10px 150px;
   }
   .bloque-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
   .footer{
    width: 33.3%;
   }
   
}
@media  ( min-width: 769px) {
    /*laptopt*/
   
    .logo img{
        width: 29%;
    }
    .logo-input{
        width: 36%; 
        
    }
    .logo-input-i{
        width: 4%;
    }
    .lupa{
     font-size: 15px;
     left: 17px;
    }
    .frase{
        width: 20%;
        font-size: 15px;
        margin-left: 60px;
       
    }
    .articulos{
        box-shadow: none;
        width: 22%;
    }
    .icono-envio{
      transition: all .5s ease;
    }
    .icono-envio:hover{
        transform: rotate(1turn);
    }
    .articulos:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion{
      display: none;
    } 
    .descripcion:hover{
      display: block;
      font-size: 16px;
      color: #666; 
      width: 100%;
      padding: 5px 0px 15px 15px;
    }
    .precio{
        width: 45%;
    }
    .descuento{
      width: 55%;
      padding-left: 15px;
    }
    .tipografia-24{
        margin-left: 20px;
        font-size: 25px;
        padding: 15px;
        padding-bottom: 2px;
     }
   
     #icono-envio{
        top: 190px;
     }
    
    a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
    }
    .boton-login{
        padding: 10px 215px;
    }
    .register-form{
        margin-top: 40px;
    }
    .register-form-input{
        padding: 15px;
    }
    .boton-login:hover{
      background-color: #0022AA;
        
    }
    .icono-footer:hover{
       color: #0022AA;
    }
    

}
@media  ( min-width: 1440px) {
    /*desktop*/
   
    .logo-input{
        width: 38%; 
  
    }
    #lupa{
        right: 430px;
     }
    
    a {
        text-decoration: none;
        color: black;
        margin-left: 30px;
    }
    #icono-envio{
        top: 270px;
     }
     .register-form-input{
        padding: 25px;
     }
     .boton-login{
        padding: 15px 320px;
    }
    .register-form{
        margin-top: 100px;
    }
}

@media  ( min-width: 2560px){
    .boton-login{
        padding: 20px 630px;
       }
}
  
    
